<!--<app-test></app-test> -->
<div class="main-container">

    <!--Passa a variável sidenav para o componente app-header-->
    <app-header [sidenav]="sidenav" ></app-header>

    <mat-sidenav-container>

        <mat-sidenav #sidenav class="largura">

            <mat-list>

                <mat-list-item (click)="sidenav.toggle()">
                    <a [routerLink]="['/']" (click)="sidenav.toggle()"><mat-icon>home</mat-icon>Home</a>
                </mat-list-item>

                <!--Cria uma fina linha na horizontal para separa o home de Categoria.-->
                <mat-divider></mat-divider>

                <mat-list-item (click)="sidenav.toggle()">
                    <a [routerLink]="['/categoria']" (click)="sidenav.toggle()"><mat-icon>list</mat-icon>Categoria</a>
                </mat-list-item>

                <mat-list-item (click)="sidenav.toggle()">
                    <a [routerLink]="['/checklist']" (click)="sidenav.toggle()"><mat-icon>list</mat-icon>Checklist</a>
                </mat-list-item>

            </mat-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
        
    </mat-sidenav-container>
    <app-footer></app-footer>
</div>
