<!--<app-test></app-test> -->
<div class="main-container">

    <!--Passa a variável sidenav para o componente app-header-->
    <app-header [sidenav]="sidenav" ></app-header>

    <mat-sidenav-container>

        <mat-sidenav #sidenav class="largura">

            <mat-list>
                <mat-list-item (click)="sidenav.toggle()">
                    <a href="/"><mat-icon>home</mat-icon>Home</a>
                </mat-list-item>
            </mat-list>

        </mat-sidenav>

        <mat-sidenav-content>
            <h1>Teste</h1>
          </mat-sidenav-content>
        
        <router-outlet></router-outlet>

    </mat-sidenav-container>

    <app-footer></app-footer>
</div>
